# Dependency directories
*node_modules/
**node_modules/

*_assets/
**_assets/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Root-level .vscode directory only
/.vscode/

# Editor-specific files
*.txt
*test.ts
examples.js
dist/
*dist/


# Temporary files
*.tmp
*.temp
*.bak
